bpelContent/contracts/business_rule.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:br="http://aerolineas-latinoamericana.com/soa/business-rule-message/process-business-rule/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
	name="businessRuleService"
	targetNamespace="http://aerolineas-latinoamericana.com/soa/business-rule-message/process-business-rule/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:br="http://aerolineas-latinoamericana.com/soa/business-rule-message/process-business-rule/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			targetNamespace="http://aerolineas-latinoamericana.com/soa/business-rule-message/process-business-rule/">
			<xsd:element name="evaluateBusinessRule">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="fuelPercentage" type="xsd:int" />
						<xsd:element name="undercarriageStatus" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="evaluateBusinessRuleResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="fuelPercentage" type="xsd:int" />
						<xsd:element name="undercarriageStatus" type="xsd:string" />
						<xsd:element name="skipMaintenance" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="evaluateBusinessRuleRequest">
		<wsdl:part element="br:evaluateBusinessRule" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="evaluateBusinessRuleResponse">
		<wsdl:part element="br:evaluateBusinessRuleResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="businessRule">
		<wsdl:operation name="evaluateBusinessRule">
			<wsdl:input message="br:evaluateBusinessRuleRequest"></wsdl:input>
			<wsdl:output message="br:evaluateBusinessRuleResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="businessRuleService" type="br:businessRule">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="evaluateBusinessRule">
			<soap:operation
				soapAction="http://aerolineas-latinoamericana.com/soa/business-rule-message/process-business-rule/evaluateBusinessRule" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<plnk:partnerLinkType name="businessRulePortType_PLT">
		<plnk:role name="businessRulePortType_Role" portType="br:businessRule" />
	</plnk:partnerLinkType>
	
	<wsdl:service name="processBusinessRule">
		<wsdl:port binding="br:businessRuleService" name="businessRuleSOAP">
			<soap:address location="http://localhost:28080/esb/business-rule" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>