bpelContent/contracts/crew_service.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:cre="http://aerolineas-latinoamericana.com/soa/processes/crew-message/process-crew-message/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CrewService"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
	targetNamespace="http://aerolineas-latinoamericana.com/soa/processes/crew-message/process-crew-message/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:cre="http://aerolineas-latinoamericana.com/soa/processes/crew-message/process-crew-message/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			targetNamespace="http://aerolineas-latinoamericana.com/soa/processes/crew-message/process-crew-message/">
			<xsd:element name="changeCrew">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="applyChangesOnCrewMembers" type="xsd:boolean" />
						<xsd:element name="totalCrewMemberRequired" type="xsd:int"></xsd:element>
						<xsd:element name="changePilot" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="changeCrewResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="changeCrewResponse">
		<wsdl:part element="cre:changeCrewResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="changeCrewRequest">
		<wsdl:part element="cre:changeCrew" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CrewPortType">
		<wsdl:operation name="changeCrew">
			<wsdl:input message="cre:changeCrewRequest"></wsdl:input>
			<wsdl:output message="cre:changeCrewResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CrewBinding" type="cre:CrewPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="changeCrew">
			<soap:operation
				soapAction="http://aerolineas-latinoamericana.com/soa/processes/crew-message/process-crew-message/changeCrew" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<plnk:partnerLinkType name="crewPortType_PLT">
		<plnk:role name="crewPortType_Role" portType="cre:CrewPortType" />
	</plnk:partnerLinkType>
	
	<wsdl:service name="CrewService">
		<wsdl:port binding="cre:CrewBinding" name="CrewPortType">
			<soap:address location="http://localhost:28082/esb/crew" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>