bpelContent/contracts/incidents_service.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:inc="http://aerolineas-latinoamericana.com/soa/incidents-message/process-incidents-message/"
	name="incidentService"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	targetNamespace="http://aerolineas-latinoamericana.com/soa/incidents-message/process-incidents-message/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:inc="http://aerolineas-latinoamericana.com/soa/incidents-message/process-incidents-message/"
			targetNamespace="http://aerolineas-latinoamericana.com/soa/incidents-message/process-incidents-message/">
			<xsd:element name="reportIncident">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="description" type="xsd:string" />
						<xsd:element name="summary" type="xsd:string" />
						<xsd:element name="category" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="reportIncidentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="reportIncidentResponse">
		<wsdl:part element="inc:reportIncidentResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="reportIncidentRequest">
		<wsdl:part element="inc:reportIncident" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="incidentBinding">
		<wsdl:operation name="reportIncident">
			<wsdl:input message="inc:reportIncidentRequest"></wsdl:input>
			<wsdl:output message="inc:reportIncidentResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="incidentSOAP" type="inc:incidentBinding">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="reportIncident">
			<soap:operation
				soapAction="http://aerolineas-latinoamericana.com/soa/incidents-message/process-incidents-message/reportIncident" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<plnk:partnerLinkType name="incidentsPortType_PLT">
		<plnk:role name="incidentsPortType_Role" portType="inc:incidentBinding" />
	</plnk:partnerLinkType>
	
	<wsdl:service name="incidentService">
		<wsdl:port binding="inc:incidentSOAP" name="incidentPort">
			<soap:address location="http://localhost:28083/esb/incident" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>