bpelContent/contracts/ReportingWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://mtx.enterprise/services/reporter"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"  
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="ReportingWSService" targetNamespace="http://mtx.enterprise/services/reporter">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://mtx.enterprise/services/reporter"
			elementFormDefault="unqualified" targetNamespace="http://mtx.enterprise/services/reporter"
			version="1.0">

			<xs:element name="generate" type="tns:generate" />

			<xs:element name="generateResponse" type="tns:generateResponse" />

			<xs:element name="reportDTO" type="tns:reportDTO" />

			<xs:complexType name="generate">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="generateResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:reportDTO" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="reportDTO">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="operators"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="totalCost" type="xs:integer" />
					<xs:element name="totalMaintenanceDone" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="generate">
		<wsdl:part element="tns:generate" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="generateResponse">
		<wsdl:part element="tns:generateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ReportingWS">
		<wsdl:operation name="generate">
			<wsdl:input message="tns:generate" name="generate">
			</wsdl:input>
			<wsdl:output message="tns:generateResponse" name="generateResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ReportingWSServiceSoapBinding" type="tns:ReportingWS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="generate">
			<soap:operation soapAction="generate" style="document" />
			<wsdl:input name="generate">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="generateResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<plnk:partnerLinkType name="reportingType_PLT">
		<plnk:role name="reportingPortType_Role" portType="rep:ReportingWS" />
	</plnk:partnerLinkType>
	<wsdl:service name="ReportingWSService">
		<wsdl:port binding="tns:ReportingWSServiceSoapBinding" name="ReportingWSPort">
			<soap:address
				location="http://localhost:9696/mtx-reporting-service/ReportingWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>